<div class="min-w-[280px] w-full h-full pt-5 bg-white ">
    <div class="h-full px-3 pb-4 bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li class="pb-5">
                <a [routerLink]="['/uf-admin']" routerLinkActive="active_side "
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white transition-all duration-300 hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i routerLinkActive="fa-fade" [routerLinkActiveOptions]="{ exact: true }"
                        class="fa-solid transition-all duration-300 fa-house"></i>
                    <span class="ms-3 transition-all duration-300">Dashboard</span>
                </a>
            </li>

            <li>
                <a [routerLink]="['/uf-admin/categories']" routerLinkActive="active_side "
                    [routerLinkActiveOptions]="{ exact: false }"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white transition-all duration-300 hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i routerLinkActive="fa-fade" [routerLinkActiveOptions]="{ exact: false }"
                        class="fa-solid fa-layer-group"></i>
                    <span class="flex-1 ms-3 transition-all duration-300 whitespace-nowrap">Category</span>
                </a>
            </li>
        </ul>
    </div>
</div>