<nav class="w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-1 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <a routerLink="/uf-admin" class="flex ms-2 md:me-24">
          <!-- <img src="logoFIle.png" class="h-14 w-28 me-3" alt="FlowBite Logo" /> -->
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">UF</span>
        </a>
        <!-- <button (click)="toggle()" class="border-0 bg-gray-100 focus:ring-0 rounded-lg py-1 px-2">
          <i class="fa-solid fa-bars"></i>
        </button> -->
      </div>

      <div id="profile-trigger" class='flex items-center ml-auto ms-4'>
        <ul class="flex space-x-4">
          <li id="profile-dropdown-toggle"
            class="relative px-1 after:absolute after:w-full after:h-[3px] after:block after:-bottom-2 after:left-0 after:transition-all after:duration-300">
            <div class="flex flex-col justify-center items-center cursor-pointer"
              (click)="toggleProfileDropdown($event)">
              <img class="w-12 h-12 rounded-full object-cover border-2 border-gray-300 dark:border-gray-600"
                src="../../../../assets/img/profile.jpg" alt="User photo" />
              <!-- <span class="text-xs font-semibold mt-1">Profile</span> -->
            </div>
            <div id="profile-dropdown-menu" [ngClass]="isProfileDropdownOpen ? 'block' : 'hidden'"
              class="bg-white z-20 shadow-lg py-6 px-6 sm:min-w-[320px] rounded-lg max-sm:min-w-[250px] max-sm:-right-32 absolute right-0 top-14">
              <h6 class="font-semibold text-sm">{{user.username}}</h6>
              <p class="text-sm text-gray-500 mt-1">{{user.email}}</p>
              <hr class="border-b-0 my-4" />
              <ul class="space-y-1.5">
                <li><a href='javascript:void(0)' class="text-sm text-gray-500 hover:text-blue-500"
                    routerLink="/uf-admin">Dashboard</a></li>
                <li><a href='javascript:void(0)' (click)="logout()"
                    class="text-sm text-gray-500 hover:text-red-600">Logout</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
<div [ngClass]="{ fade_bg: toggleStatus }" (click)="toggle()"
  class="fade_layer fixed top-0 start-0 hidden transition-all duration-300 bg-black bg-opacity-30 h-screen w-screen z-[999]">
</div>